* {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

.body {
	width: 390px;
}

.body__header {
	width: 390px;
	height: 257px;
	background: url(/img/garrett-parker.jpg) 0 0 no-repeat;
}

.header {}

.header__logo {}

.logo {}

.logo__img {
	position: relative;
	top: 45px;
	left: 15px;
}

.header__form {}

.form {
	width: 360px;
	height: 48px;
	background-color: #FFFFFFB2;
	border-radius: 16px;
	position: relative;
	top: 108px;
	left: 15px;
}

.form__input {
	/*width: 360px;
	height: 48px;
	background-color: #FFFFFFB2;
	border-radius: 16px;
	position: relative;
	top: 108px;
	left: 15px;
	*/
	font-family: 'Aleo';
	font-style: italic;
	font-size: 14px;
	color: #F2785C;

}

.form__button {
	background-color: #0D606F;
	width: 92px;
	height: 30px;
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-size: 11px;
	color: #FFFFFF;
	position: relative;
	top: 10px;
	left: 108px;
}

.main__squares {}

.squares {}

.squares__h2 {
	font-family: "Red Hat Text";
	font-size: 14px;
	font-weight: 500;
	color: #F2785C;
	text-align: center;
	margin-top: 15px;
}

.main__h2 {
	font-family: "Red Hat Text";
	font-size: 14px;
	font-weight: 500;
	color: #F2785C;
	text-align: center;
	margin-top: 28px;
}

.main__list {
	display: flex;
	position: relative;
	top: 21px;
	left: 15px;
}

.list {}

.list__li {}

.li {}

.li__kvadro {}

.kvadro {}

.kvadro__h3 {
	color: #0D606F;
	font-family: 'Aleo';
	font-size: 10px;
	position: relative;
	top: -20px;
	left: 0px;
}

.Tell {
	width: 94px;
	height: 22px;
}

.Share {
	width: 111px;
	height: 12px;
}

.We {
	width: 98px;
	height: 24px;
}

.kvadro__square {
	padding-right: 75px;
}

.kvadro__bike {
	position: relative;
	top: -54px;
	left: 17px;
}

.kvadro__bag {
	position: relative;
	top: -54px;
	left: 17px;
}

.kvadro__fly {
	position: relative;
	top: -53px;
	left: 16px;
}

.main__carousel {}

.carousel {}

.carousel__h2 {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Red Hat Text';
	position: relative;
	top: -185px;
	left: 30px;
}

.carousel__rocks {
	transform: rotate(180deg);
	position: relative;
	top: 15px;
	left: -14px;
}

.carousel__arrow {
	position: relative;
	top: -125px;
	left: 25px;
}

.arrow {}

.arrow__1 {}

.arrow__2 {
	position: relative;
	top: 0px;
	left: 306px;
}

.carousel__ellipse {}

.ellipse {
	position: relative;
	top: -63px;
	left: 177px;
}

.ellipse__1 {
	padding-right: 2px;
}

.ellipse__2 {
	padding-right: 2px;
}

.ellipse__3 {}

.main__button {}

.button {}

.button__find {
	width: 92px;
	height: 30px;
	background-color: #0D606F;
	border-radius: 10px;
	position: relative;
	top: -47px;
	left: 150px;
}

.find__img {
	width: 9px;
	height: 6px;
	position: relative;
	top: 5px;
	left: -30px;
}

.find__text {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 11px;
	font-family: 'Red Hat Text';
	position: relative;
	top: -8px;
	left: 5px;
}

.h2 {
	margin-top: -25px;
}

.body__footer {}

.footer {
	background: url(/img/bg.jpg) 0 0 no-repeat;
	width: 390px;
	height: 693px;
	margin-top: 10px;
}

.footer__info {
	background-color: #FFFFFFB2;
	font-family: 'Aleo';
	color: #0D606F;
	width: 390px;
	height: 628px;
}

.info__thailand {}

.thailand {
	display: flex;
	width: 360px;
	height: 130px;
	padding: 10px;
}

.thailand__foto {}

.thailand__information {}

.information__thailand {}

.h3 {
	font-weight: 700;
	font-size: 11px;
	padding: 6px;
}

.information__pthai {}

.text {
	font-size: 9px;
	padding: 6px;
}

.info__road {}

.road {
	display: flex;
	padding: 5px 5px 5px 10px;
}

.road__foto {}

.road__information {}

.information {}

.information__canyon {}

.information__p {}

.p {}

.info__mount {
	display: flex;
	padding: 0px 5px 5px 10px;
}

.moumt {}

.mount__img {}

.mount__info {}

.info {}

.info__p {}

.info__car {
	display: flex;
	margin: -16px 0px 5px 25px;
}

.car {}

.car__foto {
	transform: rotate(-90deg);
}

.car__car {
	padding: 10px;
}

.car__h3 {}

.car__p {}

.info__button {}

.button {}

.button__see {
	background-color: #0D606F;
	width: 92px;
	height: 30px;
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-size: 11px;
	color: #FFFFFF;
	position: relative;
	top: -19px;
	left: 150px;
	font-weight: 500;
}

.see {
	display: flex;
}

.see__img {
	position: relative;
	top: 10px;
	left: 10px;
}

.see__text {
	position: relative;
	top: 6px;
	left: 20px;
	font-weight: 500;
	font-family: 'Rad Hat Text';
	font-size: 11px;
}

.footer__messengers {
	display: flex;
	position: relative;
	top: 20px;
	left: 130px;
}

.mess {}

.mess__tel {}

.mess__you {}

.you {}

.you__1 {
	position: relative;
	top: 0px;
	left: 20px;
}

.you__2 {
	position: relative;
	top: -7px;
	left: -4px;
}

.mess__tw {}