* {
	padding: 0px;
	margin: 0px;

}

ul {
	list-style-type: none;
}

.body {
	width: 1440px;
	height: 3735px;
}

.body__header {
	background: url(./Img/Rectangle1.png) no-repeat;
	width: 1440px;
	height: 765px;
}

.header {}

.header__up {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #F2785CB2;
	box-shadow: 0px 4px 4px#0D606F80;
	width: 1440px;
	height: 90px;

}

.up {}

.up__globo {
	display: flex;
	margin: 0px 0 0 11px;
}

.globo {}

.globo__img {
	width: 30px;
	height: 30px;
	padding: 0 5px 0 0;
}

.globo__h1 {
	color: #FFFFFF;
	font-family: Magra;
	font-size: 32px;
	font-weight: 600;
	line-height: 38.88px;
	text-align: right;

}

.up__nav {}

.nav {}

.nav__list {
	display: flex;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	position: relative;
	top: 0;
	left: -12px;
}

.list {}

.list__link {
	color: #FFFFFF;
	font-family: Red Hat Text;
	font-size: 16px;
	padding-right: 50px;
}

.up__button {
	width: 103px;
	height: 41px;
	font-family: Red Hat Text;
	color: #FFFFFF;
	background-color: #0D606F;
	border-radius: 10px;
	box-shadow: 0 2px 2px #0D606F;
}

.header__bottom {
	width: 892px;
	height: 422px;
	position: relative;
	top: 30px;
	left: 120px;

}

.bottom {}

.bottom__h2 {
	font-family: 'Aleo';
	color: #FFFFFF;
	font-size: 80px;
	font-weight: 700;
	line-height: 96px;
}

.bottom__p {
	margin: 30px 0 0 0;
	width: 723px;
	height: 24px;
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

input {
	margin: 50px 0 0 0;
	width: 840px;
	height: 95px;
	background-color: #FFFFFFB2;
	border-radius: 16px;
	color: #F2785C;
	font-size: 24px;
	font-style: italic;
	font-family: 'Aleo';
	padding-left: 50px;

}

.bottom__button {
	width: 228px;
	height: 59px;
	font-family: Red Hat Text;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #0D606F;
	border-radius: 10px;
	box-shadow: 0 2px 2px #0D606F;
	position: relative;
	top: -80px;
	left: 647px;
}

.header__moutains {}

.body__main {}

.main {}

.main__section {}

.section {}

.section__h2,
.carousel__h2,
.main__h2 {
	color: #F2785C;
	text-align: center;
	font-family: Red Hat Text;
	font-size: 40px;
	line-height: 53px;
}

.section__h2 {
	margin-top: 80px;
}

.section__list {
	display: flex;
	justify-content: space-around;
}

.list {}

.list__1 {}

.first-part {}

.first-part__one {}

.one {}

.one__p {
	position: relative;
	top: 130px;
	left: -60px;
	color: #0D606F;
	font-size: 20px;
	font-family: 'Aleo';
}

.one__fon {}

.one__bike {
	position: relative;
	top: -80px;
	left: 25px;
}

.list__2 {}

.second-part {}

.second-part__two {}

.two {}

.two__p {
	position: relative;
	top: 130px;
	left: -50px;
	color: #0D606F;
	font-size: 20px;
	font-family: 'Aleo';
}

.two__fon {}

.two__bag {
	position: relative;
	top: -80px;
	left: 25px;
}

.list__3 {}

.third-part {}

.third-part__three {}

.three {}

.three__p {
	position: relative;
	top: 130px;
	left: -100px;
	color: #0D606F;
	font-size: 20px;
	font-family: 'Aleo';
}

.three__fon {}

.three__fly {
	position: relative;
	top: -80px;
	left: 20px;
}

.main__carousel {}

.carousel {}

.carousel__fotos {
	display: flex;
	position: relative;
	top: 0;
	left: -100px;
}

.fotos {}

.fotos__roks {}

.fotos__rocks {}

.fotos__usa {}

.main__ellipse {}

.ellipse {
	width: 80px;
	height: 20px;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 0;
	left: 640px;

}

.ellipse__1 {}

.ellipse__2 {}

.ellipse__3 {}

.main__more {
	text-align: center;
}

.find {
	width: 228px;
	height: 59px;
	font-size: 24px;
	font-family: Red Hat Text;
	font-weight: 500;
}

.find__img {
	width: 35px;
	height: 22px;
	position: relative;
	top: 5px;
	left: -10px;
}

.main__stories {
	padding: 20px 0 0 0;
	width: 1445px;
	height: 1250px;
	background-color: #FFFFFFB2;
}

.stories {}

.stories__water,
.stories__road,
.stories__car,
.stories__mountains {
	width: 1200px;
	height: 250px;
	margin: 0 0 25px 0;
	display: flex;
}

.water {}

.water__info {
	color: #0D606F;
}

.info {
	padding: 0 5px 0 0;
}

.info__h3 {
	color: #0D606F;
	font-family: 'Aleo';
	font-size: 35px;
	line-height: 42px;
	text-align: left;
}

.info__text {
	width: 760px;
	height: 184px;
	color: #0D606F;
	font-family: 'Aleo';
	font-size: 20px;
	line-height: 24px;
	text-align: left;
}

.water__foto,
.road__foto,
.mountains__foto,
.car__foto {
	width: 400px;
	height: 250px;
	border-radius: 16px;
	box-shadow: 0 4px 4px;
}

.road {}

.road__info {}

.mountains {}

.mountains__info {}

.car {}

.car__h3 {}

.car__foto {}

.car__info {}

.stories__see {
	text-align: center;
}

.see {}

.see__more,
.more__find {
	border-radius: 10px;
	background-color: #0D606F;
	color: #FFFFFF;
	width: 228px;
	height: 59px;
	font-size: 24px;
}

.more {
	margin: 40px 0 0 0;
}

.more__img {
	width: 35px;
	height: 22px;
	position: relative;
	top: 5px;
	left: -10px;
}

.basement {
	background-image: url(/Img/Rectangle27.png);
	background-repeat: no-repeat;
	width: 1442px;
	height: 1331px;
}

.basement__down {}

.down {
	display: flex;
	align-items: center;
}

.down__h3 {
	position: relative;
	top: -5px;
	left: 600px;
	color: #FFFFFF;
	font-family: Red Hat Text;
	font-size: 16px;
}

.down__mas {
	width: 140px;
	height: 33px;
	display: flex;
	position: relative;
	top: -12px;
	left: 800px;
}

.mas__telegram {
	position: relative;
	top: 10px;
	left: 10px;
}

.mas__youtube {}

.youtube {}

.youtube__square {
	position: relative;
	top: -5px;
	left: 5px;
}

.youtube__triangle {
	position: relative;
	top: -30px;
	left: 15px;
}

.mas__twitter {
	position: relative;
	top: 10px;
	left: 0px;
}