ul {
	list-style-type: none;
}

.body {}

.body__header {
	background-image: url(./Img/Rectangle1.png);
	background-repeat: no-repeat;
	width: 1440px;
	height: 765px;
}

.header {}

.header__up {
	display: flex;
	justify-content: space-around;
	background-color: #F2785CB2;
	box-shadow: 0px 4px 4px#0D606F80;
	width: 1440px;
	height: 90px;
}

.up {}

.up__globo {
	vertical-align: middle;
}

.globo {}

.globo__img {
	width: 30px;
	height: 30px;
}

.globo__h1 {
	color: #FFFFFF;
	font-family: Magra;
	font-size: 32px;
	font-weight: 600;
	line-height: 38.88px;
	text-align: right;

}

.up__nav {}


.nav {}

.nav__list {
	display: flex;
	justify-content: space-around;

}

.list {
	vertical-align: middle;
}

.list__1 {}

.list__link {
	color: #FFFFFF;
	padding: 5px;
}

.list__2 {}

.list__3 {}

.list__4 {}

.up__button {
	width: 103px;
	height: 41px;
	color: #FFFFFF;
	background-color: #0D606F;
	border-radius: 10px;

}

.header__bottom {}

.bottom {}

.bottom__h2 {}

.bottom__p {}

.bottom__form {}

.bottom__button {}

.header__moutains {}